<!DOCTYPE html>
<html lang="ru">
<head>
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Информация по курсам валют</title>
</head>
<body>
    <h1>Информация о курсах валют</h1>
    <form action="/index" method="get">
        <p><label>Выберите валюту: </label>
            <select name="valute" required>
                <option value="Австралийский доллар">Австралийский доллар</option>
                <option value="Азербайджанский манат">Азербайджанский манат</option>
                <option value="Фунт стерлингов Соединенного королевства">Фунт стерлингов Соединенного королевства</option>
                <option value="Армянских драмов">Армянский драм</option>
                <option value="Белорусский рубль">Белорусский рубль</option>
                <option value="Болгарский лев">Болгарский лев</option>
                <option value="Бразильский реал">Бразильский реал</option>
                <option value="Венгерских форинтов">Венгерский форинт</option>
                <option value="Гонконгских долларов">Гонконгский доллар</option>
                <option value="Датских крон">Датская крона</option>
                <option value="Доллар США">Доллар США</option>
                <option value="Евро">Евро</option>
                <option value="Индийских рупий">Индийская рупия</option>
                <option value="Казахстанских тенге">Казахстанский тенге</option>
                <option value="Канадский доллар">Канадский доллар</option>
                <option value="Киргизских сомов">Киргизский сом</option>
                <option value="Китайских юаней">Китайский юань</option>
                <option value="Молдавских леев">Молдавский лей</option>
                <option value="Норвежских крон">Норвежская крона</option>
                <option value="Польский злотый">Польский злотый</option>
                <option value="Румынский лей">Румынский лей</option>
                <option value="СДР (специальные права заимствования)">СДР (специальные права заимствования)</option>
                <option value="Сингапурский доллар">Сингапурский доллар</option>
                <option value="Таджикских сомони">Таджикский сомони</option>
                <option value="Турецких лир">Турецкая лира</option>
                <option value="Новый туркменский манат">Новый туркменский манат</option>
                <option value="Узбекских сумов">Узбекский сум</option>
                <option value="Украинских гривен">Украинская гривна</option>
                <option value="Чешских крон">Чешская крона</option>
                <option value="Шведских крон">Шведская крона</option>
                <option value="Швейцарский франк">Швейцарский франк</option>
                <option value="Южноафриканских рэндов">Южноафриканский рэнд</option>
                <option value="Вон Республики Корея">Вона Республики Корея</option>
                <option value="Японских иен">Японская йена</option>
            </select></p>
        <p><label>Выберите дату: </label><input type="date" name="date" value="2022-01-01" min="2022-01-01" max="2022-08-30" required /></p>
        <p><input type="submit" value="Запросить данные" /></p>
    </form>
</body>
</html>